#root {
  --color: #007bff;
  --button-color: #333;
  --text-color: #fff; 
  --background-color: rgb(22, 22, 22);
  --border-color: rgb(49, 49, 49);
  --shadow-color: rgba(0, 0, 0, 0.5);

  --top-bar-height: 70px

}